.poi:hover{
    cursor: pointer;
}
.form-container{
    position:absolute;
    top:5vh;
    padding:30px;
    background-color:#fff;
    border-radius:10px;
    width:130%;
    margin-left:-20%;
    box-shadow: 0px 0px 10px 0px #000;
}
.emptyDiv{
    margin-top: 20px;
    width:100%;
}

.example-full-width {
    width: 100%;
  }
.bg{
    background:url('../resources/common/images/addProduct.jpg') no-repeat;
    width:100%;
    height:100%;
    background-size: 100% 100%;
    position: relative;
}
.deleteColor {
    background-color:silver;
}
